html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Space Mono", sans-serif;
  background-color: $lightGrayishCyan;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;

  @include breakpoint-mobile(medium) {
    padding: 2rem 0;
  }
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
}

h4 {
  color: $darkGrayishCyan;
  font-weight: 700;
  font-size: 0.75rem;
  margin-bottom: 0.5rem;

  @include breakpoint-desktop(medium) {
    font-size: 1rem;
  }
}
input {
  display: block;
  background-color: $lightGrayishCyan2;
  color: $veryDarkCyan;
  width: 100%;
  text-align: right;
  font-family: inherit;
  font-size: 1.1rem;
  font-weight: 700;
  padding: 0.3rem 0.75rem;
  border: none;
  border-radius: 0.35rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input:focus {
  outline: 2px solid $strongCyan;
}

button {
  border: none;
  border-radius: 0.5rem;
  padding: 0.65rem;
  font-family: inherit;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
}

.hide {
  display: none;
}
