@import "variables";
@import "mixins";

@import "globals";

.title {
  margin-bottom: 2rem;
}

.card {
  background-color: $white;
  max-width: 56rem;
  width: 100%;
  padding: 2rem;
  border-radius: 1rem;
  margin-bottom: 2rem;

  @include breakpoint-desktop(large) {
    display: flex;
    justify-content: space-between;
  }
}

.card__left {
  @include breakpoint-desktop(large) {
    flex: 1;
    padding-right: 1.75rem;
  }
}

.bill {
  position: relative;
  width: 100%;
  margin-bottom: 1.5rem;

  &__label {
  }

  &__input {
  }

  &__image {
    position: absolute;
    top: 57%;
    left: 15px;
    color: $lightGrayishCyan;
    font-size: 1.1rem;
  }
}

.tip {
  margin-bottom: 1.5rem;
  width: 100%;

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.75rem;

    @include breakpoint-desktop(medium) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__item {
    background-color: $veryDarkCyan;
    color: $white;

    &:hover {
      background-color: $strongCyan;
    }
  }

  #custom {
    background-color: $lightGrayishCyan2;
    color: $veryDarkCyan;
    font-size: 1rem;
    margin: 0;
    text-align: right;
    &::placeholder {
      text-align: center;
    }
  }
}

.people {
  position: relative;
  width: 100%;
  margin-bottom: 1.5rem;

  &.show {
    .error {
      position: absolute;
      top: 0;
      right: 0;
      color: red;
      font-size: 0.75rem;
    }

    input {
      border: 1px solid red;
    }
    input:focus {
      outline: none;
    }
  }

  &__label {
  }

  &__input {
    display: block;
    background-color: $lightGrayishCyan2;
    color: $veryDarkCyan;
    width: 100%;
    text-align: right;
    font-family: inherit;
    font-size: 1.1rem;
    font-weight: 700;
    padding: 0.3rem 0.75rem;
    border: none;
    border-radius: 0.35rem;
  }

  &__image {
    position: absolute;
    top: 57%;

    left: 15px;
    color: $lightGrayishCyan;
    font-size: 1.1rem;
  }
}

.card__right {
  background-color: $veryDarkCyan;
  border-radius: 0.75rem;
  padding: 1.5rem 1rem;

  .result {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint-mobile(medium) {
      margin-bottom: 1rem;
    }

    .text {
      color: $white;

      h3 {
        font-size: 0.95rem;
      }
      p {
        color: $darkGrayishCyan2;
        margin-top: -1.25rem;
        font-size: 0.85rem;
      }
    }

    span {
      color: $strongCyan;
      font-weight: 700;
      font-size: 1.5rem;

      @include breakpoint-desktop(medium) {
        font-size: 3rem;
      }
    }
  }

  .reset {
    background-color: $strongCyan;
    color: $veryDarkCyan;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    margin-top: 1rem;

    &:hover {
      background-color: $lightGrayishCyan;
    }

    &:disabled {
      pointer-events: none;
      cursor: not-allowed;
      opacity: 0.65;
    }
  }

  @include breakpoint-desktop(large) {
    flex: 1;

    &__amount {
      padding-top: 1rem;
      margin-bottom: 1rem;
    }

    .reset {
      margin-top: 7rem;
    }
  }
}
